<h1>Welcome to C.R.U.D. basic app from Sangy</h1>
<br />
<p>Today is: {{{ts}}}</p>
<ul>
    <li>POST /todos -> Send data to Mongo DB, format "{"text":"Insert post from Insomnia XYZ"}" </li>
    <li>GET /todos -> Get data from Mongo DB (.find({}))" </li>
    <li>GET /todos/:id -> Get a note by id from Mongo DB (.find({id:...}))" </li>
</ul>
